In [56]:
%matplotlib inline
import numpy as np
import pandas as pd

import viz # curriculum example visualizations


np.random.seed(29)

ModuleNotFoundError: No module named 'viz'

# 1 How likely is it that you roll doubles when rolling two dice?

# simulations

In [ ]:
n_trials = nrows = 100
n_dice = ncols = 2

rolls = np.random.choice([1, 2, 3, 4, 5, 6], n_trials * n_dice).reshape(nrows, ncols)
rolls

In [ ]:
dble = pd.DataFrame(rolls)
dble.head(1)

In [ ]:
rolling_double = len(dble[dble[0] == dble[1]])

In [ ]:
prob = (rolling_double / n_trials) * 100
print(f'You would expect to roll a double out of a 100 times is {prob}')

In [3]:
# (1,1),(2,2),(3,3)(4,4)(5,5)(6,6)
need_roll= 6

In [4]:
poss_roll = 36

In [5]:
chance1 = (need_roll/poss_roll) * 100
chance1

16.666666666666664

# 2 If you flip 8 coins, what is the probability of getting exactly 3 heads? What isthe probability of getting more than 3 heads?

In [6]:
throw = np.random.randint(0,2,(1000,8))
throw = pd.DataFrame(throw)
throw.head()

   0  1  2  3  4  5  6  7
0  0  1  1  1  0  1  0  1
1  1  0  1  1  0  0  0  0
2  0  1  1  1  1  0  0  1
3  1  0  0  0  1  0  0  1
4  0  1  1  0  0  0  0  1

In [ ]:
#naps.sum(axis=1)

In [240]:
           # sum along the 1, axis. compare for the count of 3. treat true as 1. then average the query
ext_three = (throw.sum(axis=1) == 3).mean()
ext_three

0.217

In [242]:
more_three = (throw.sum(axis=1) > 3).mean()
more_three

0.628

# used for reference
'''
First we assign values for the number of rows and columns we are going to use
Next we create the rolls variable that holds a 3 x 10,000 matrix where each element is a randomly chosen number from 1 to 6
Lastly we create a dataframe from the rolls
pd.DataFrame(rolls) converts our 2d numpy matrix to a pandas DataFrame
.apply(... applies a function to each row in our dataframe, because we specified axis=1, the function will be called with each row as it's argument. The body of the function checks to see if the value 3 is in the values of the row, and will return either True or False
.mean() takes our resulting series of boolean values, and treats True as 1 and False as 0, to give us the average rate of Trues, in this case, the simulated probability of getting a 3 in 3 dice rolls.


'''

# 3 There are approximitely 3 web development cohorts for every 1 data science cohort at Codeup. Assuming that Codeup randomly selects an alumni to put on a billboard, what are the odds that the two billboards I drive past both have data science students on them?

In [16]:
n_trials = nrows = 100000
n_board = ncols = 2

ps_bill = np.random.random(n_trials * n_board).reshape(nrows, ncols)
ps_bill

array([[0.39718496, 0.15004656],
       [0.05299024, 0.93994598],
       [0.51020482, 0.70483935],
       ...,
       [0.86799965, 0.11289898],
       [0.02684639, 0.17465141],
       [0.59698823, 0.11195516]])

In [32]:
# (ps_bill <= .25).sum(axis = 1).mean()

0.49759

In [36]:
ps_ds = (ps_bill <= .25).prod(axis = 1).mean()

In [37]:
ps_ds

0.06184

 # 4 Codeup students buy, on average, 3 poptart packages with a standard deviation of 1.5 a day from the snack vending machine. If on monday the machine is restocked with 17 poptart packages, how likely is it that I will be able to buy some poptarts on Friday afternoon? (Remember, if you have mean and standard deviation, use the np.random.normal) You'll need to make a judgement call on how to handle some of your values

# 5

In [ ]:
#random.normal(loc=0.0, scale=1.0, size=None)
#draw random samples from a normal (Gaussian) distribution.

In [71]:
               # 3 poptarts within stdv of 1.5
                        # sample size
pts = np.random.normal(3, 1.5,(1000000,5))
pts = np.floor(pts)
pts

array([[3., 1., 6., 1., 3.],
       [0., 4., 2., 1., 2.],
       [0., 1., 2., 4., 5.],
       ...,
       [4., 3., 3., 2., 2.],
       [1., 3., 7., 4., 4.],
       [0., 1., 4., 3., 3.]])

In [70]:
p_friday = (pts.sum(axis=1) <= 16).mean()

p_friday

0.880245